@font-face {
    font-family: "reg";
    src: url("../fonts/PFDinDisplayPro-Regular.eot");
    src: url("../fonts/PFDinDisplayPro-Regular.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PFDinDisplayPro-Regular.woff") format("woff"),
        url("../fonts/PFDinDisplayPro-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "thin";
    src: url("../fonts/PFDinDisplayPro-Thin.eot");
    src: url("../fonts/PFDinDisplayPro-Thin.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PFDinDisplayPro-Thin.woff") format("woff"),
        url("../fonts/PFDinDisplayPro-Thin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "med";
    src: url("../fonts/PFDinDisplayPro-Medium.eot");
    src: url("../fonts/PFDinDisplayPro-Medium.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PFDinDisplayPro-Medium.woff") format("woff"),
        url("../fonts/PFDinDisplayPro-Medium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "light";
    src: url("../fonts/PFDinDisplayPro-Light.eot");
    src: url("../fonts/PFDinDisplayPro-Light.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PFDinDisplayPro-Light.woff") format("woff"),
        url("../fonts/PFDinDisplayPro-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "extralight";
    src: url("../fonts/PFDinDisplayPro-ExtraThin.eot");
    src: url("../fonts/PFDinDisplayPro-ExtraThin.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PFDinDisplayPro-ExtraThin.woff") format("woff"),
        url("../fonts/PFDinDisplayPro-ExtraThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "bold";
    src: url("../fonts/PFDinDisplayPro-Bold.eot");
    src: url("../fonts/PFDinDisplayPro-Bold.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PFDinDisplayPro-Bold.woff") format("woff"),
        url("../fonts/PFDinDisplayPro-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "black";
    src: url("../fonts/PFDinDisplayPro-Black.eot");
    src: url("../fonts/PFDinDisplayPro-Black.eot?#iefix")format("embedded-opentype"),
        url("../fonts/PFDinDisplayPro-Black.woff") format("woff"),
        url("../fonts/PFDinDisplayPro-Black.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
body {
    font-family: "reg";
}
.thin {
    font-family: "thin";
}
.med {
    font-family: "med";
}
.bold, strong {
    font-family: "bold";
    font-weight: normal;
}
.black {
    font-family: "black";
}
.extral {
    font-family: "extralight";
}
.light {
    font-family: "light";
}
.nopadl {
    padding-left: 0;
}
.nopadr {
    padding-right: 0;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
}
.one {
    background-color: rgba(50, 50, 50, 0.80);
}
.navbar-default {
    margin: 0;
    background: none;
    border: none;
    outline: none;
    padding: 0;
}
.navbar-default .navbar-nav > li > a {
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.025em;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #70b94e;
    border-bottom-color: #70b94e;
    border-width: 0px 0px 2px 0px;
    border-style: solid;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent;
    color: #fff;
    font-family: "reg";
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: transparent;
    border-bottom-color: #70b94e;
    color: #fff;
}
.dropdown-menu {
    border-radius: 0px;
    box-shadow: none;
    border: none;
    background-color: rgba(112, 185, 78, 0.80);
    padding-left: 0;
    padding-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
.dropdown-menu > li > a {
    padding: 4px 42px;
}
.dropdown-menu > li > a {
    color: #fff;
    font-size: 18px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background: none;
    color: #fff;
}
.city {
    position: relative;
}
.enter {
    position: relative;
}
.enter::before {
    background-image: url(../img/key.png);
    content: '';
    width: 8px;
    height: 15px;
    display: block;
    position: absolute;
    left: -21px;
    margin-top: 3px;
}
.city::before {
    background-image: url(../img/metka.png);
    content: '';
    width: 10px;
    height: 13px;
    display: block;
    position: absolute;
    left: -21px;
    margin-top: 3px;
}
.navbar-default .navbar-right > li > a {
    border-color: transparent!important;
    color: #fff!important; 
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px dotted #fff!important;
}
.navbar-default .navbar-right > li > a:hover {
    border-bottom-color: transparent!important;
}
.navbar-default .navbar-right > li {
    margin-left: 70px;
    margin-top: 18px;
}
.navbar-default .navbar-right {
    padding-right: 20px;
}
.search input {
    background: none;
    border: none;
    outline: none;
    border: 2px solid #666666;
    font-size: 18px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -7px;
    background-color: transparent;
    width: 158px;
    height: 38px;
}
.search input::-webkit-input-placeholder {color:#666666;}
.search input::-moz-placeholder {color:#666666;}
.two {
    padding-top: 132px;
    position: relative;
    z-index: 100;
    margin-top: -62px;
    background-size: cover;
}
.one {
    position: relative;
    z-index: 1000;
}

.hrefs {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.hrefs > li {
    display: inline-block;
    margin-right: 14px;
}
.hrefs > li > a {
    font-size: 18px;
    color: #ffffff!important;
    text-decoration: underline;
}
.hrefs > li > a:hover {
    text-decoration: none;
}
.phone {
    margin-bottom: 0;
    color: #fff;
    font-size: 36px;
    margin-top: 5px;
    line-height: 48px;
}
.borderr {
    border-left: 3px solid #fff;
    padding-left: 15px;
}
.zagpage {
    margin: 0;
    color: #fff;
    font-size: 46px;
    font-weight: 300;
    line-height: 1;
    margin-top: 40px;
    margin-bottom: 20px;
    padding-left: 24px;
}
.subh1 {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 24px;
}
.subh1 > li {
    display: inline-block;
    vertical-align: middle;
}
.subh1 > li > a {
    text-decoration: underline;
    color: #fff!important;
    font-size: 18px;
    margin-left: 30px;
}
button {
    font-size: 18px;
    text-transform: uppercase;
    background: none;
    border: none;
    transition: 0.3s;
    border: 2px solid #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
}
button:hover {
    background-color: #fff;
    color: #000;
}
.logo {
    padding-left: 24px;
}
.bggray {
    background-color: #323232;
    background-color: rgba(50, 50, 50, 0.82);
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 30px;
    padding-bottom: 35px;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.zakaz {
    font-size: 28px;
    color: #ffffff;
    line-height: 40px;
}
.mapwrapa {
    margin-bottom: -30px;
}
.greenlin {
    width: 50px;
    height: 3px;
    display: block;
    background-color: #71ba4e;
    margin-bottom: 20px;
}
.subzakaz {
    font-size: 19px;
    color: #fff;
    line-height: 1.2;
}
.in1 {
    width: 100%;
    background-color: transparent;
    padding-left: 18px;
    padding-right: 18px;
    color: #676668;
    border: 1px solid #676668;
    font-size: 18px;
    font-family: "light";
    padding-top: 15px;
    margin-top: 20px;
    outline: none;
    color: #fff;
    padding-bottom: 15px;
}
.nav-tabs {
    margin-top: -60px;
}
.nav-tabs > li > a {
    border: none!important;
    font-size: 18px;
    color: #fff;
    letter-spacing: 0.024em;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 17px;
    padding-bottom: 17px;
    text-decoration: none;
    background-color: #eee;
    border: none;
    border-radius: 0;
    margin-right: 0;
    color: #fff;
    background-color: rgba(40, 39, 64, 0.31);
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555;
    cursor: default;
    background-color: #2c80a7;
    border-radius: 0;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    color: #fff;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #eee;
    border: none;
    border-radius: 0;
    color: #fff;
    background-color: rgba(40, 39, 64, 0.31);
}
.nav-tabs {
    border: none;
}
.uslg {
    color: #fff;
    font-size: 18px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 17px;
    padding-bottom: 17px;
}
.tabin {
    background-color: rgba(45, 124, 162, 0.85);
    min-height: 240px;
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.dop1 {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    width: 60%;
    float: left;
}
.dop1 > li {
    display: inline-block;
    width: 45%;
    float: left;
    margin-bottom: 15px;
}
.dop1 > li > a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none!important
}
.dop2 {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    width: 25%;
    float: left;
    border-left: 1px solid #fff;
    padding-left: 20px;
}
.dop2 > li {
    margin-bottom: 15px;   
}
.dop2 > li > a {
    font-size: 18px;
    color: #ffffff;
    text-decoration: none!important
}
.dopt {
    color: #fff;
    font-size: 18px;
}
.nav-tabs > li {
    margin-bottom: 0;
}
.dop2 > li:last-child {
    margin-bottom: 0;
}
.newwrap {
    position: relative;
}
.nostyle {
    color: inherit!important;
    text-decoration: none!important;
}
.lastn {
    font-size: 28px;
    color: #212121;
    display: inline-block;
    position: relative;
}
.lastn::after {
    content: '';
    background-image: url(../img/arow1.jpg);
    width: 8px;
    min-height: 14px;
    display: block;
    position: absolute;
    top: 14px;
    transition: 0.3s;
    right: -25px;
}
.lastnew {
    background-color: #fff;
    padding: 30px;
    min-height: 240px;
}
.newwrap {
    display: block;
    position: relative;
}
.n1 {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #3a3a3a;
}
.n2 {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: #b9b9b9;
    border-left: 1px solid #b9b9b9;
    padding-left: 7px;
    margin-left: 7px;
}
.newtext {
    font-size: 16px;
    color: #000000;
    line-height: 1.4;
    margin-bottom: 0;
    margin-top: 15px;
}

.three {
    padding-top: 50px;
    padding-bottom: 60px;
}
.nostyle:hover .lastn::after {
    right: -30px;
}
.akces {
    display: inline;
    color: #fff!important;
    text-decoration: none!important;
    font-size: 24px;
    line-height: 32px;
    background-color: #e94f54;
    letter-spacing: 0.02em;
    padding-left: 15px;
    padding-right: 38px;
    padding-bottom: 3px;
    padding-top: 3px;
    position: relative;
}
.akces span {
    padding-left: 15px;
}
.akces::after {
    content: '';
    display: block;
    position: absolute;
    background-image: url(../img/arow2.png);
    width: 8px;
    height: 14px;
    right: 15px;
    top: 42px;
    transition: 0.3s
}
.akces:hover::after {
    right: 10px;
}
.padr15 {
    padding-left: 0!important;
    padding-right: 15px;
}
.subakecs {
    font-size: 18px;
    color: #1a1a1a;
    line-height: 25px;
    margin-bottom: 0;
    margin-top: 15px;
}
.special1 {
    display: inline-block;
    font-size: 16px;
    color: #fff;
    background-color: #ec3137;
    padding: 12px;
}
.slideowl1 .item {
    background-size: cover;
    background-position: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.subspecial {
    color: #fff;
    text-transform: uppercase;
    font-size: 48px;
    line-height: 1.2;
    margin-bottom: 0;
    margin-bottom: 30px;
}
.owl-prev {
    display: block;
    position: relative;
    background-image: url(../img/prev.png);
    width: 22px;
    height: 42px;
    position: absolute;
    top: 47%;
    left: 30px;
}
.owl-next {
    display: block;
    position: relative;
    background-image: url(../img/next.png);
    width: 22px;
    height: 42px;
    position: absolute;
    top: 47%;
    right: 30px;
}
.owl-item {
    -webkit-backface-visibility: hidden;
    -webkit-transform: translateZ(0) scale(1.0, 1.0);
}
.clientsa {
    background-color: #2482a6;
    padding-top: 30px;
    padding-bottom: 30px;
}
.dover {
    color: #fff;
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 9%;
}
.clientsa img {
    width: auto!important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.clwrap {
    height: 86px;
    display: table;
    width: 100%;

}
.clin {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.clientsa .owl-next {
    top: 26%;
    right: 0;
}
.clientsa .owl-prev {
    top: 26%;
    left: 0;
}
.videowrap {
    position: relative;
    background-size: cover;
    background-position: center;
    background-image: url(../img/clients/logistic.png);
    height: 240px;
    cursor: pointer;
}
.videowrap span {
    background-image: url(../img/play.png);
    position: absolute;
    width: 54px;
    background-position: center;
    background-repeat: no-repeat;
    top:calc(50% - 27px);
    left:calc(50% - 27px);
    height: 54px;
}
.contentwrap {
    padding-top: 75px;
}
.whyt {
    font-size: 28px;
    font-family: "med";
    color: #323232;
    line-height: 1.2;
}
.zname {
    font-size: 18px;
    line-height: 26px;
    color: #323232;
    font-family: "light";
}
.redone {
    font-size: 16px;
    color: #e94f54!important;
    text-decoration: underline;
}
.redone:hover {
    text-decoration: none;
}
.download {
    position: relative;
    font-size: 16px;
    color: #0085bb!important;
    text-decoration: underline;
    padding-left: 30px;

}
.download:hover {
    text-decoration: none;
}
.download::before {
    content: '';
    background-image: url(../img/present.png);
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    left: 0;
    top: 3px;
}
.about {

}
.about p {
    font-size: 18px;
    font-family: "light";
    margin-bottom: 0;
    line-height: 29px;
    color: #303030;
}
.about h3 {
    font-size: 24px;
    color: #6fb94e;
    margin-bottom: 20px;
    margin-top: 45px;
}
.about ul {
    font-size: 18px;
    font-family: "light";
    margin-bottom: 0;
    line-height: 29px;
    color: #303030;
    margin-bottom: 0;
}
.margme {
    margin-top: 60px;
}
.about .whyt {
    font-size: 28px;
    font-family: "med";
    color: #323232;
    line-height: 1.2;
    margin-bottom: 15px;
}
.intart {
    padding-left: 0;
    margin-bottom: 0;
    list-style-type: none;
}
.intart > li {
    display: block;
    margin-bottom: 15px;
}
.intart > li > a {
    font-size: 16px;
    color: #0085bb!important;
    text-decoration: underline;
}
.intart > li > a:hover {
    text-decoration: none;
}
.footer {
    background-color: #ececec;
    padding-top: 50px;
    padding-bottom: 35px;
    margin-top: 30px;
}
.foothref  {
    display: block;
    text-decoration: underline;
    font-size: 16px;
    color: #323232!important;
}
.foothref:hover {
    text-decoration: none;
}
.social {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
}
.social > li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}
.foott {
    font-size: 16px;
    line-height: 22px;
    color: #323232;
    margin-bottom: 15px;
    margin-top: 20px;
}
.whomade {
    margin-bottom: 0;
    font-size: 16px;
    line-height: 22px;
    color: #323232;
}
.whomade a {
    color: #000;
    text-decoration: underline;
}
.whomade a:hover {
    color: #000;
    text-decoration: none;
}
.footphone {
    font-size: 28px;
    color: #323232;
    margin-bottom: 0;
    line-height: 30px;
}
.graf {
    font-size: 16px;
    color: #323232;   
    margin-bottom: 0;
    margin-top: 3px;
    margin-bottom: 3px;
}
.email {
    color: #323232;
    text-decoration: underline;
}
.email:hover {
    color: #323232;
    text-decoration: none;
}
.scrollmea {
    height: 145px;
}
.dop2 {
    width: 100%!important;
    border-color: transparent;
}
.scrollmea  {
    outline: none;
}
.jspVerticalBar
{
    left: 0;
}

.scroll-pane
{
    width: 100%;
    height: 200px;
    overflow: auto;
}
.jspDrag {
    background: #FFF;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 4px;
}
.jspVerticalBar {
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background: #fff;
}
.scrollmea {
    outline: none;
    display: inline-block;
    float: left;
    width: 33%!important;
}
.triple {
    position: absolute;
    right: -100%;
    background-color: rgba(112, 185, 78, 0.80);
    width: 100%;
    list-style-type: none;
    padding-top: 20px;
    margin-top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    padding-bottom: 20px;
    top: 0;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.32);
}
.newtextwrap p {
    line-height: 1.42857143;
}
.hastriple:hover .triple  {
    display: block;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
}
.triple a {
    color: #fff!important;
    font-size: 18px;
    margin-bottom: 4px;
    display: block;
    text-decoration: none!important;
}
.rightt {
    display: inline-block;
    font-size: 18px;
    color: #868686;
    vertical-align: top;
    padding-left: 20px;
    line-height: 22px;
    margin-bottom: 0;
}
.wt {
    max-width: 95px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
}
.myf .in1 {
    color: #878380;
    border-color: #878380;
}
.myf button {
    color: #fff;
    border-color: #70b94e;
    background-color: #70b94e;
    width: 100%;
    margin-top: 20px;
}
.myf button:hover {
}
.modal-content {
    border-radius: 0;
    box-shadow: none;
    border: none;
    background-color: #302b26;
}
.modal-title {
    text-transform: uppercase!important;
    font-family: "med"!important;
    color: #fff!important;
    background: none!important;
    font-size: 16px!important;
    padding: 0!important;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #FFF!important;
    text-shadow: none;
    filter: alpha(opacity=100)!important;
    opacity: 1!important;
    background: none!important;
}
* {
    outline: none!important;
}
.logo2 {
    margin-top: 10px;
}
html,
body {
    height: 100%;
}
.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}
.content {
    display: table-row;
    height: 100%;
    width: 100%;
}
.newimg {
    width: 100%;
    background-position: center;
    background-size: cover;
    height: 190px;
    margin-top: 30px;
}
.content_wrapper {
    background-color: #f7f7f7;
    padding-bottom: 30px;
    margin-bottom: -30px;
}
.newtextwrap {
    background-color: #fff;
    height: 290px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 25px;
}
.newdate {
    font-size: 16px;
    color: #a2a2a2;
    margin-bottom: 5px;
}
.newttle {
    font-size: 24px;
    color: #34b5e8;
    margin-bottom: 5px;
    transition: 0.3s;
}
.newwpra:hover .newttle {
    color: #79D9FF;
}
.newtt {
    font-size: 18px;
    color: #575757;
    margin-bottom: 0;
    line-height: 23.4px;
}
.breadcrumb {
    background: none;
    border: none;
    outline: none;
    margin: 0;
}
.breadcrumb  {
    margin-top: 60px;
    margin-bottom: 25px;
    padding: 0;
}
.breadcrumb > li > a {
    font-size: 16px;
    color: #34b5e8;
    text-decoration: underline;
}
.breadcrumb > li > a:hover {
    text-decoration: none;}
.breadcrumb > .active {
    font-size: 16px;
    color: #b9b9b9;
}
.breadcrumb > li + li:before {
    padding: 0 10px;
    color: #ccc;
    content: "/\00a0";
}
.ttlepage {
    font-size: 36px;
    color: #303030;
    line-height: 43px;
    margin-bottom: 20px;
}
.showmore {
    font-size: 18px;
    color: #303030;
    border-color: #e1e1e1;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 240px;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.showmore:hover {
    background-color: #e1e1e1;
}
.novost .col-lg-4{ display:none;
}
.contactwrap {
    background-position: center;
    background-size: cover;
    margin-top: -62px;
    padding-top: 162px;
}
.kontact {
    font-size: 48px;
    color: #ffffff;
    line-height: 48px;
    margin-bottom: 25px;
}
.adres {
    color: #fff;
    line-height: 29px;
    color: #ffffff;
    font-family: "light";
    margin-bottom: 30px;
    font-size: 18px;
}
.downloadr {
    font-size: 18px;
    text-transform: uppercase;
    background: none;
    border: none;
    transition: 0.3s;
    border: 2px solid #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #fff;
    border-width: 1px;
    font-family: "light";
}
.contcall {
    margin-top: 151px;}
.onlymobile {
    display: none;
}
.nomobile {
    display: block;
}
.onlymobile .logo {
    margin-bottom: 0;
}
h1 {
    text-align: center;
    display: block;
    font-family: "light";
    font-size: 48px;
    color: #303030;
    line-height: 93px;
    margin-top: 0;
    margin-bottom: 0;
}
.classical p {
    line-height: 24px;
    margin-bottom: 25px;
}
.secbg2 {
    background-color: #ececec;
    padding-top: 40px;
    padding-bottom: 40px;
}
.secbg1 {
    background-color: #f9f9f9;
    padding-bottom: 40px;
}
table {
    width: 100%;
    background-color: #fff;
    padding-top: 45px;
    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 0!important;

}
table  th,
table  td{text-align: center;
          border: solid 1px green !important;
}


.schedule-split td{background-color: green !important;color:#fff !important;}
.intable {
    background-color: #fff;

    padding-left: 60px;
    padding-right: 60px;
    margin-bottom: 25px;
}
.tmed > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid #E2E2E2;
    font-weight: 100;
    font-size: 20px;
    color: #323232;
    font-family: "med";
    padding-top: 35px!important;
} 
.tmed {
    display: table;
}
td, th {
    font-size: 20px;
    color: #323232;
    font-family: "light";
}
.tmed > thead > tr > th, .tmed > tbody > tr > th, .tmed > tfoot > tr > th, .tmed > thead > tr > td, .tmed > tbody > tr > td, .tmed > tfoot > tr > td {
    /* padding: 8px; */
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    padding-left: 30px;

}
.tmed {
    font-family: "med";
}
tr > th:nth-child(2n) {
    background-color: #f9f9f9;
    //  border: none!important;

}
tr > td:nth-child(2n) {
    background-color: #f9f9f9;
    // border-color: #fff !important;
}
tr > td:first-child {
    padding-left: 0 !important;
}
tr > th:first-child {
    padding-left: 0 !important;
}
h3 {
    font-size: 28px;
    font-family: "med";
    color: #323232;
    line-height: 28px;
    margin-bottom: 40px;
    text-align: center;
}
.tmed {

}
thed th {
    padding-top: 35px;
}
tbody > tr:last-child td  {
    padding-bottom: 35px !important;
}
.twocolumn ul {
    list-style-type: decimal;
    font-size: 16px;
    color: #575757;
    font-family: "light";
    margin-bottom: 0;
    padding-left: 15px;
    line-height: 36px;
}
.twocolumn ul  > li {


}
.twocolumn {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 0px;
    column-count: 2;
    width: 54%;
    column-gap: 0px;
}
.threecolumn {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 0px;
    column-count: 3;
    width: 100%;
    margin-left: -40px;
    column-gap: 0px;
}
h2 {
    font-family: "light";
    color: #303030;
    font-size: 36px;
}
.secbg3 {
    padding-top: 50px;
    padding-bottom: 50px;
}
.parallaxed {

    background-position: center;
    background-size: cover;
    height: 420px;
}
h4 {
    font-size: 24px;
    color: #000000;
    font-family: "light";
    padding: 20px;
    margin-top: 0;
    margin-bottom: 50px;
    display: block;
    width: 100%;
    background-color: #6db850;

}
.threecolumn ul {
    padding-left: 0;
    line-height: 36px;
    color: #575757;
    font-size: 16px;
    margin-bottom: 0;
    padding-left: 40px;
    list-style-type: disc;

}
blockquote {
    padding: 30px;
    background-color: #d3eaca;
    border-radius: 2px;
    line-height: 24px;
    margin: 0 0 20px;
    font-size: 16px;
    color: #575757;
    font-family: "light";
    border-left: none;  
}
.contentwrap h3 {
    text-align: left;
}
.socsites {
    padding-left: 0;
    list-style-position: none;
    display: block;
    margin-bottom: 0;
    text-align: center;

}
.socsites > li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
}
.socsites > li span {
    font-size: 16px;
    color: #2b2f61;
    display: inline-block;
    font-family: "med";
    margin-left: 6px;
    vertical-align: middle;
}
.special {
    background-color: transparent;
    line-height: 24px;
    color: #575757;
    line-height: 24px;
    padding: 0;
    position: relative;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    width: 65%;
    margin-left: 60px;
}
.special::before {
    content: '“';
    font-size: 172px;
    color: rgba(87, 87, 87, 0.1);
    position: absolute;
    top: 41px;
    left: -65px;
    font-family: "light";
    line-height: 24px;
}
.avatar {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    display: inline-block;
    vertical-align: middle;
}
.citat {
    display: block;
    width: 100%;
    margin-top: 50px;
}
blockquote {
    margin-top: 25px;
}
.tmed > thead > tr > th, .tmed > tbody > tr > th, .tmed > tfoot > tr > th, .tmed > thead > tr > td, .tmed > tbody > tr > td, .tmed > tfoot > tr > td {
    /* padding: 8px; */
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
    margin-top: -1px;
    padding-left: 30px;
}
.nobg {
    background: none;
}
.tmed1 {
    font-weight: 100;
    font-size: 20px;
    color: #323232;
    font-family: "med";
}
.dostav .lastnew  {
    height: 320px;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
}
.dostav .lastnew input {
    border-color: #dbdbdb;
    color: #676668;
}
.calcst {
    height: 320px;
    background-color: rgba(50, 50, 50, 0.82);
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
}
.white {
    color: #fff;
}
.in2 {
    font-size: 18px;
    color: #ffffff;
    font-family: "light";
    display: inline-block;
    vertical-align: middle;
    width: calc(25% - 15px);
    height: 50px;
    margin-right: 11px;
    padding-left: 42px;
    padding-right: 20px;
    background-repeat: no-repeat;
    background-position: 17px 50%;
}
.odkud {
    background-image: url(../img/odkud.png);

}
.kam {
    background-image: url(../img/kam.png);
}
.vesg {
    background-image: url(../img/ves.png);
}
.obgr {
    background-image: url(../img/obm.png);
}








/* Cначала обозначаем стили для IE8 и более старых версий
т.е. здесь мы немного облагораживаем стандартный чекбокс. */
.checkbox {
    vertical-align: top;
    margin: 0 3px 0 0;
    width: 17px;
    height: 17px;
}
/* Это для всех браузеров, кроме совсем старых, которые не поддерживают
селекторы с плюсом. Показываем, что label кликабелен. */
.checkbox + label {
    cursor: pointer;
    font-family: "light";
    font-weight: 300;
    font-size: 18px;
    color: #ffffff;
}

/* Далее идет оформление чекбокса в современных браузерах, а также IE9 и выше.
Благодаря тому, что старые браузеры не поддерживают селекторы :not и :checked,
в них все нижеследующие стили не сработают. */

/* Прячем оригинальный чекбокс. */
.checkbox:not(checked) {
    position: absolute;
    opacity: 0;
}
.checkbox:not(checked) + label {
    position: relative;
    padding: 0 0 0 22px;
    display: block;
    margin: 0;
    margin-top: 15px;
    margin-bottom: -5px;
}
/* Оформление первой части чекбокса в выключенном состоянии (фон). */
.checkbox:not(checked) + label:before {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    width: 12px;
    height: 12px;
    border-radius: 0px;
    background: transparent;
    background-image: url(../img/checkbox.png);
    box-shadow: none;
}
/* Оформление второй части чекбокса в выключенном состоянии (переключатель). */
.checkbox:not(checked) + label:after {
    content: '';
    position: absolute;
    top: -2px;
    left: 2px;
    width: 22px;
    display: none;
    height: 22px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    transition: all .2s; /* анимация, чтобы чекбокс переключался плавно */
}
/* Меняем фон чекбокса, когда он включен. */
.checkbox:checked + label:before {
    background-position: bottom;
}
/* Сдвигаем переключатель чекбокса, когда он включен. */
.checkbox:checked + label:after {
    left: 26px;
}
.part1 {
    display: inline-block;
    vertical-align: top;
    width: 33%; margin-top: 5px;
}
.part2 {
    display: inline-block;
    vertical-align: top;   
    width: 33%; margin-top: 5px;
}
.part3 {
    display: inline-block;
    vertical-align: top;
    width: 33%; margin-top: 5px;
    text-align: right;
}
.rascet {
    color: #fff!important;
    border: none;
    padding: 14px 50px 10px;

    border-color: #70b94e;
    background-color: #70b94e!important;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: 11px;
}
.mapbg {
    padding-top: 0;
    padding-bottom: 0;
    background-image: url(../img/marp.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
}
.variantdost {
    background-color: #fff;
    width: 100%;
    border: 1px solid #f2f2f2;
    position: relative;
    padding: 20px;
    transition: 0.3s;
    background-position: 90% 50%;
}
.variantdost:hover {
    background-color: #33b5e9;
    cursor: pointer;
    color: #fff;
}
.variantdost:hover p {
    color: #fff;
}
.variantdost:hover {
    background-image: url(../img/zak.png);
    background-repeat: no-repeat;
    background-position: 90% 50%;
}
.variantdost:hover .srok {
    display: none;
}
.priced {
    font-size: 24px;
    color: #000000;
    font-family: "bold";
    margin-bottom: 0;
    line-height: 24px;
    display: inline-block;
}
.priced span {
    font-size: 14px;
}
.typed {
    font-size: 14px;
    color: #000000;
    font-family: "light";
    margin-bottom: 0;
    padding-left: 34px;
}
.srok {
    margin-bottom: 0;
    font-size: 18px;
    color: #000000;
    color: rgba(0, 0, 0, 0.65);
    font-family: "light";
    position: absolute;
    right: 20px;
    top: 30px;
}
.bus {
    background-image: url(../img/bus.png);
    display: inline-block;
    width: 15px;
    height: 10px;
    margin-right: 15px;
}
.disabledd {
    font-size: 16px;
    color: #d8d8d8!important;
    display: inline-block;
}
.disabled {
    background: none!important;
    background-color: #fff!important;
    font-size: 16px;
    text-transform: uppercase;

}
.disabled .typed {
    color: #000000!important;
}
.disabled:hover {
    background-color: #f4f4f4!important;
}
.var2 {
    background-image: none!important;
}
.drug {
    margin-bottom: 0;
    font-size: 11px;
    color: #404040;
    font-family: "bold";
    text-transform: uppercase;
}
.drug::after {
    content: '';
    background-image: url(../img/str.png);
    width: 9px;
    height: 6px;
    display: inline-block;
    margin-left: 6px;
}
.primers {
    background-color: #ececec;
    padding-top: 40px;
    padding-bottom: 40px;
}
.it1 {
    display: inline-block;
    vertical-align: top;
    width: 29%;
    margin-left: -4px;


}
.it2 {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    padding-top: 50px;
    margin-left: -2px;

}
.it3 {
    display: inline-block;
    vertical-align: top;
    width: 40%;
    padding-top: 50px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #f9f9f9;
    padding-bottom: 70px;
    float: right
}
.inblockwr {
    background-color: #fff;
    position: relative;
    overflow: hidden;
    height: 362px;
}
.it1 img {
    width: 80%;
    max-width: 220px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* position: absolute; */
    bottom: 30px;
    margin-top: 18%;
}
.whatwasbougt {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    line-height: 36px;
    color: #323232;
    font-size: 18px;
    font-family: "light";
}
.stronger {
    font-family: "bold";
}
.p11 {
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    margin-left: -5px;
    font-size: 18px;
    color: #323232;
    font-family: "light";
    line-height: 44px;
    margin-bottom: 0;
}
.p22 {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    text-align: right;
    font-size: 18px;
    color: #323232;
    font-family: "light";
    line-height: 44px;
    margin-bottom: 0;
}
.linthin {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #E6E6E6;
}
.itogo {
    display: inline-block;
    vertical-align: middle;
    width: 80%;
    margin-left: -5px;
    font-size: 18px;
    color: #b4b4b4;
    font-family: "light";
    line-height: 44px;
    margin-bottom: 0;
}
.priceitogo {
    display: inline-block;
    vertical-align: middle;
    width: 20%;
    text-align: right;
    font-size: 18px;
    color: #323232;
    font-family: "bold";
    line-height: 44px;
    margin-bottom: 0;
}
.varian2 > li > a {
    background: none!important;
    padding: 0;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent!important;
    color: #c6c6c6!important;
}
.varian2 > li {
    margin-left: 20px;
    margin-right: 20px;
    float: none;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 20px;
}
.varian2 {
    text-align: center;
    margin-top: 50px;
}
.varian2 > li.active > a, .varian2 > li.active > a:hover, .varian2 > li.active > a:focus {
    font-family: "med";
    color: #00a2e3!important;
    border-bottom:2px solid #00a2e3!important;
}
.primers .owl-carousel .owl-stage-outer {
    height: 400px !important;
}
.primers .owl-next {
    background-image: url(../img/owlnext.png);
    display: block;
    width: 21px;
    height: 37px;
    right: -64px;
}
.primers .owl-prev {
    background-image: url(../img/owlprev.png);
    display: block;
    width: 21px;
    height: 37px;
    left: -64px;
}
.owl-dots {
    text-align: center
}
.owl-dot {
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    height: 12px;
    background-color: #c4c4c4;
    margin-left: 8px;
    margin-right: 8px;
}
.owl-dot.active {
    background-color: #6eb84f;   
}
.infawraper {
    padding-top: 60px;
    padding-bottom: 60px;
}
.search_item {padding:10px 20px; border-bottom: 1px dotted #ddd}
.search_item h5{font-size: 1.4em}
.dropdown-toggle{cursor: pointer}

.info.containers ul{list-style: none;margin: 0;padding: 0;display: block;overflow: hidden}
.info.containers li{list-style: none;margin: 0;padding: 0;float: left;margin-top: 32px}
.info.containers h5{
    font-size: 24px;
    background: #72ba4e;
    padding: 5px 10px;
    color: #FFF;
    border-radius: 5px;
    line-height: 2;
    margin-bottom: 1em;}
.info-row{float: left;width:100%;clear: both;width:1100px;}
.info-row th,
.info-row td{ font-size:16px !important; vertical-align: middle !important; padding: 5px !important}
.info-row tbody > tr:last-child td {
    padding-bottom: 5px !important;
}
.info-row img{float: left;width: 124px;margin: 32px}
.info-row .info-preview{width:320px;float: left;margin-left: 32px}
.info-row .info-preview table{margin-top: 10px}
.info-row .info-details{width:510px;float: left;margin-left: 32px}