@media screen and (max-width:1345px) {
   .navbar-default .navbar-nav > li > a {
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.025em;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
} 
    .navbar-default .navbar-right > li > a {
    border-color: transparent!important;
    color: #fff!important;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 1px dotted #fff!important;
}
        .phone {
        font-size: 32px;
    }
        .newtt {
        font-size: 17px;
    }
    .newttle {
        font-size: 20px;
    }
    .contcall {
        margin-top: 100px;
    }

}
@media screen and (max-width:1240px) {
        .navbar-default .navbar-right > li {
    margin-left: 48px;
    margin-top: 18px;
}
    .dop1 {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    width: 62%;
    float: left;
}
    .dop2 {
    padding-left: 0;
    list-style-type: none;
    margin-bottom: 0;
    width: 32%;
    float: left;
    border-left: 1px solid #fff;
    padding-left: 20px;
}
    .newtext {
        font-size: 14px;
    }
    .lastn {
        line-height: 1;
    }
    .akces {
    display: inline;
    color: #fff!important;
    text-decoration: none!important;
    font-size: 20px;
    line-height: 32px;
    background-color: #e94f54;
    letter-spacing: 0.02em;
    padding-left: 15px;
    padding-right: 38px;
    padding-bottom: 5px;
    padding-top: 5px;
    position: relative;
}
    .subakecs {
    font-size: 16px;
    color: #1a1a1a;
    line-height: 21px;
    margin-bottom: 0;
    margin-top: 15px;
}
    .subspecial br {
        display: none;
    }
    .whyt {
        font-size: 20px;
    }
    .whyt br {
        display: none;
    }
    .zname {
        font-size: 15px;
    }
    .zname br {
        display: none;
    }
    .foott {
        font-size: 14px;
    }
    .foott br {
        display: none;
    }
    .dover {
    color: #fff;
    font-size: 19px;
    margin-bottom: 0;
    margin-top: 17%;
}
    .lastn::after {
        right: 0;
    }
    .bggray {
        padding-left: 30px;
        padding-right: 30px;
    }

    
}
@media screen and (max-width:1170px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 15px;
    }  
    .phone {
    font-size: 27px;
}
    .subspecial {
        font-size: 40px;
    }
    .lastn::after {
        right: 0;
    }
}
@media screen and (max-width:991px) {
.nopadl {
padding-left: 15px;
}
    .logo2 {
        display: none;
    }
    .breadcrumb {
        margin-top: 30px;
        margin-bottom: 20px;
    }
    .calcst {
        height: auto;
        padding: 15px;
    }
    .it1, .it2, .it3 {
        display: block;
        width: 100%;
        margin: 0;
        padding-left: 20px!important;
        padding-right: 20px!important;
        padding-right: 20px!important;
        padding-bottom: 20px!important;
    }
    .in2 {
        width: 100%;
        display: block;
    }
    .variantdost {
    background-color: #fff;
    width: 100%;
    border: 1px solid #f2f2f2;
    position: relative;
    padding: 16px;
    padding-right: 10px;
    transition: 0.3s;
    background-position: 90% 50%;
}
    .varian2 > li > a {
        padding-top: 0;
    }
    .owl-dots {
        margin-top: 20px;
    }
    .primers .owl-next, .primers .owl-prev {
        display: none!important;
    }
    .primers .owl-carousel .owl-stage-outer {
        height: auto!important;
    }
    .navbar-collapse {
        box-shadow: none;
    }
    .inpage .logo {
        display: none;
    }
    .varian2 > li {
        margin-top: 0;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    border: none;
    box-shadow: none;
    }
    .varian2 
    .in2 {
        display: block;
        width: 100%;
    }
    .mapbg {
        height: auto;
        background: none;
        padding-bottom: 0px;
    }
    .part1, .part2, .part3 {
        display: block;
        width: 100%;
    }
    .dostav .lastnew {
        height: auto;
        padding-top: 25px;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 25px;
    }
    .inpage .one {
        background-image: url(../img/logo2.png);
        background-repeat: no-repeat;
        background-position: 13px 6px;
    }
    .row {
        margin-left: -10px;
        margin-right: -10px;
    }
        blockquote {
        margin-top: 25px;
    }
    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    /* padding: 8px; */
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 0;
    padding-right: 0;
    padding-left: 30px;
        
    font-size: 18px!important;
}
    table {
        width: 650px!important;
    }
    
    .intable {
        
        overflow-x: scroll;
    }
    .mapwrapa, #gmap_canvas {
        height: 350px!important;
    }
    .onlymobile {
    display: block;
}
.nomobile {
    display: none;
}
    .content_wrapper {
        padding-top: 20px;
    }
    .one {
    background-color: rgb(50, 50, 50);
}
    .contactwrap {
        margin-top: 0;
        padding-top: 45px;
    }
    .kontact {
        line-height: 1.1;
        font-size: 30px;
        margin-top: 20px;
    }
    .contcall {
        margin-top: 50px;
    }
    .contactwrap {
    background: none!important;
    background-color: #161B17!important;
    }
    .intable {
        padding-left: 15px;
        padding-right: 15px;
    }
    .logo img {
        margin-bottom: 15px;
    }
    .col-lg-4.col-md-6 {
        padding-left: 0;
        padding-right: 0;
    }
    .newtextwrap {
        height: auto;
        padding-bottom: 30px;
    }
    .newwpra {
        width: 100%;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }
    .triple {
        display: none!important;
    }
    .wrapper {
  display: block;
  height: auto;
width: 100%;
}
.content {
  display: block;
  height: auto;;
    width: 100%;
}
.nopadr {
padding-right: 15px;
}
    .jspDrag {
    background: #FFF;
    position: relative;
    top: 0;
    left: 0;
    cursor: pointer;
    width: 5px;
}
    .mobc {
    text-align: center!important;
    }
     .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
    .navbar-default .navbar-toggle {
        background: none!important;
        border: none!important;
    }
    .navbar-toggle .icon-bar {
    display: block;
    width: 25px;
    height: 3px;
    border-radius: 1px; 
    background-color: #FFF!important;
}
    .navbar-default .navbar-nav > li > a {
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.025em;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: 0.3s;
    border-bottom: 2px solid transparent;
}
    .city, .enter {
        border: none!important;
    }
    .navbar-default .navbar-nav > li > a {
    font-size: 18px;
    color: #ffffff;
    letter-spacing: 0.025em;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    transition: 0.3s;
    border-bottom: 2px solid transparent!important;
}
    .navbar-default .navbar-right > li {
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 7px;
}
    .navbar-default .navbar-toggle {
        margin-right: 0;
    }
    .logo img {
        width: 100%;
        max-width: 390px;
    }
    .nav-tabs {
        margin-top: 10px;
    }
    .bggray {
        margin-top: 15px;
    }
    .two {
        padding-bottom: 20px;
    }
    .wt {
        margin-bottom: 15px;
    }
    .akces {
        display: none;
    } 
    .subakecs  {
        display: none;
    }
    .owl-prev {
        left: 4px;
    }
    .owl-next {
        right: 4px;
    }
    .dover {
        margin-top: 0;
        margin-bottom: 20px;
    }
    .whyt {
        margin-top: 25px;
    }
    .foothref {
        display: inline-block;
        margin-right: 5px;
    }
    .social {
        margin-top: 20px;
    }
    .footphone {
        margin-top: 20px;
    }
    .intart {
        display: none;
    }
    .nomobile {
        display: none;
    }
    .navbar-toggle {
        width: 50px;
    }
    .logo {
        padding-left: 0;
        margin-bottom: 25px;    
        display: block;
    }
    .navbar-default .navbar-right {
        padding-right: 0;
    }
    .navbar-nav>li {
    float: none;
    text-align: left!important;
}
}
@media screen and (max-width:700px) {
    .dop1, .dop2 {
    padding-left: 10px;
    list-style-type: none;
    margin-bottom: 0;
    width: 100%;
    float: none;
}
    .newtextwrap {
        padding: 18px;
    }
    .scrollmea {
    outline: none;
    display: block;
    float: none;
    width: 100%!important;
        margin-top: 20px;
        margin-bottom: 20px;
}
    .dop1 > li, .dop2 > li {
    display: block;
    width: 100%;
    float: none;
    margin-bottom: 15px;
}
    .tabin {
        padding-bottom: 20px;
    }
}
@media screen and (max-width:600px) {
    .two {
        margin-top: 0;
        padding-top: 20px;
    }
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    blockquote {
    padding: 24px;
    background-color: #d3eaca;
    border-radius: 2px;
    line-height: 24px;
    margin: 0 0 20px;
    font-size: 14px;
    color: #575757;
    font-family: "light";
    border-left: none;
        margin-top: 20px !important;
}
    .socsites > li {
        margin-bottom: 15px;
    }
    .special::before {
    content: '“';
    font-size: 172px;
    color: rgba(87, 87, 87, 0.1);
    position: absolute;
    top: 41px;
    left: 0;
    font-family: "light";
    line-height: 24px;
}
    p {
        font-size: 15px;
        line-height: 18px;
    }
    h1 {
        font-size: 35px;
    }
    .zagpage {
        padding-left: 0;
        font-size: 37px;
    }
    .ttlepage {
        font-size: 28px;
    }
    .special {
        width: 100%;
        display: block;
        margin-left: 0;
        margin-top: 15px;
        padding-left: 0;
    }
    .avatar {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .twocolumn {
        -moz-column-count: 1;
    -moz-column-gap: 0px;
    -webkit-column-count: 1;
    -webkit-column-gap: 0px;
    column-count: 1;
    column-gap: 0px;
}
    .breadcrumb > .active {
        font-size: 14px;
    }
    .breadcrumb > li > a {
        font-size: 14px;
    }
    button {
        width: 100%;
        display: block;
        margin-bottom: 15px;
    }
    .nav > li {
    position: relative;
    display: block;
    display: block;
    width: 100%;
    text-align: center;
}
    .subh1 > li {
        display: block;
        text-align: center;
        padding-left: 0;
    }
    .subh1 {
        padding-left: 0;
    }
    .subh1 > li > a {
        margin-left: 0;
    }
    .uslg {
    color: #fff;
    font-size: 18px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    padding-bottom: 12px;
}
    .dop1, .dop2 {
        width: 100%;
        float: none;
        margin-bottom: 15px;
    }
    .dop1 > li, .dop2 > li {
        width: 100%;
        display: block;
        float: none;
    }
    .tabin {
        padding-bottom: 30px;
    }
    .lastn::after {
        right: -20px;
    }
    .subspecial {
        font-size: 30px;
    }

    .rightt {
        padding-left: 0;
        display: block;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
    }
    .rightt br {
        display: none;
        text-align: center;
    }
    .wt {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .varian2 > li  {
        margin-left: 0;
        margin-right: 0;
    }
    .varian2 > li > a {
        text-align: center;
    }

}