.cropit-image-zoom-container{                
    background:rgba(0,0,0,.7);
    border-radius: 6px;
    height:34px;
    width:200px;
    margin: 0 auto;               
    z-index:20;
    position: absolute;
    bottom:-50px;
    left:50%;
    margin-left: -100px;
}
body{background: #eee}

.image-editor{
    position: relative;
    float:left;
    padding: 28px 35px 35px 35;
    border:solid 1px #fff   ;
    background: #fff;                
    box-shadow: 0 4px 8px rgba(0,0,0,.5)}

.cropit-image-preview {
    background-color: #f8f8f8;
    background-size: cover;
    border: 1px solid #fff;
    margin-top: 7px;
    width: 273px;
    height: 182px;
    cursor: move;
}

.cropit-image-background {
    opacity: .1;
    cursor: auto;
}

.cropit-image-zoom-input:before{
    position:relative;
    top:2px;
    left:-20px;
    display:inline-block;
    font-family:'Glyphicons Regular';
    font-style:normal;
    font-weight:normal;
    line-height:1;
    vertical-align:top;
    speak:none;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    color:rgba(255,255,255,.9);
    font-size: .9em;
    content:'\E139';
    text-shadow:0px 1px 1px #000

}
.cropit-image-zoom-input:disabled:after,
.cropit-image-zoom-input:disabled:before{color:#fff}
.cropit-image-zoom-input:after{
    position:relative;
    top:0px;
    right:-23px;
    display:inline-block;
    font-family:'Glyphicons Regular';
    font-style:normal;
    font-weight:normal;
    line-height:1;
    vertical-align:top;
    speak:none;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    font-size: 1.4em;
    color:rgba(255,255,255,.9);
    content:'\E139';
    text-shadow:0px 1px 1px #000

}

.cropit-image-zoom-input {
    position: relative;
    z-index: 10;
    display: block;
    top:10px;
    margin: 0 auto ;

}
.export {
    margin-top: 10px;
}

.upr{
    
}